# Node modules
node_modules/

# Environment files
.env
.env.*.local

# VSCode settings (개인 설정 무시)
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
coverage/
.cache/
.parcel-cache/
.next/
.nuxt/

# IDEs
.idea/

# Misc
*.tgz